<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>送信フォーム</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<div class="container-fluid">
			<div class="app">
				<a href="/1" target="_blank">問題１問目</a>
			</div>
			<div class="app">
				<a href="/question" target="_blank">問題書く</a>
			</div>
			<div class="app">
				<a href="/book">問題集</a>
			<div>

		</div>
	</body>
</html>
