<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>ゲーム</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<div>
			<p>失敗！</p>
			<input type ="button" onclick="location.href='/game/<%=@n%>'"value="同じ問題に戻る">
			<!-- <form action="/game/<%=@n%>" method="get"> -->
			<!-- 	<input type="submit" class="btn btn-info" value="同じ問題に戻る"> -->
			</form>
		</div>
	</body>
</html>
