<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>ゲーム</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<div>
			<p>正解！</p>
			<p>おわり！！</p>
		</div>
			<p> 
				<a href="/book">問題一覧に戻る</a>
			</p>
	</body>
</html>
