<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>ゲーム</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
	<form action="/success" method="post">
		<div>
			<div>
				<input type="hidden" name="q" value="2">
				<p>Q2<br>
				高さ２mのところにまとがある。
				砲台の角度は45度に固定されている。<br>
				まとから何mはなれたところに砲台をおいたらあたるでしょう。
				</p>
				<p><img src="zu1.jpg" width="250" height="200" alt="thank"></p>

				<p>
				<label for="text">砲台の距離</label>
				<input name="message" style="width:45px;height:20px" id="text" placeholder="入力" type="number">
				</p>
			<input type="submit" class="btn btn-info" value="決定">
			</div>
		</form>
		</div>
	</form>
	</body>
</html>
