
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>ゲーム</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
	<form action="/success" method="post">
		<div>
			<div>
				<input type="hidden" name="q" value="<%=@number%>">
				<p>
				<%=@game.ques%> 
				</p>
				<p><img src="/<%=@number.to_i%>.jpg" width="250" height="200" alt="question_gazo"></p>

				<p>
				<label for="text">砲台の距離</label>
				<input name="answer" style="width:45px;height:20px" id="text" placeholder="入力" type="number">
				</p>
			<input type="submit" class="btn btn-info" value="決定">
			</div>
		</form>
		</div>
	</form>
	</body>
</html>
