<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>送信フォーム</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<div class="container-fluid">
		<form action="send-ques" method="POST" role="form">
			<div class="form-group">
				<label for="text">問題</label>
				<textarea name="ques" class="form-control" id="text"></textarea>
			</div>
			<div class="form-group">
				<label for="text">答え</label>
				<textarea name="ans" class="form-control" id="text"></textarea>
			</div>
			<div class="form-group">
				<label for="text">番号</label>
				<input name="order" style="width:45px;height:20px" id="text" type="number">
			</div>

			<div>
					問題数 <%=@count%>件
				</div>
			<input type="submit" class="btn btn-info" value="OK">
		</form>
		</div>
	</body>
</html>
