<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>ゲーム</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<div>
		<form action="/<%=@num%>" method="get">
			<div>
				<p>成功！</p>
				
				<input type="submit" class="btn btn-info" value="次に進む">
			</div>
		</form>
		</div>
	</body>
</html>
