<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>ゲーム</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<div>
			<p>成功！</p>
			<input type ="button" onclick="location.href='/game/<%=@num%>'"value="次に進む">
			<!-- <form action="/game/<%=@num%>" method="get"> -->

				<!-- <input type="submit" class="btn btn-info" value="次に進む"> -->
			</form>
		</div>
	</body>
</html>
